<div id="wrapper">
    <ul class="navbar-nav sidebar sidebar-dark accordion fixed" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard/{{idd}}">
            <div class="sidebar-brand-icon">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="sidebar-brand-text mx-3" align="left" style="text-transform:capitalize;font-size:larger">
                TrackerID
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/dashboard/{{idd}}">
                <i class="fas fa-home"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item active">
            <a class="nav-link" href="/devlist/{{idd}}">
                <i class="fas fa-tablet-alt"></i>
                <span>Device List</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item active">
            <a class="nav-link" href="/create/{{idd}}">
                <i class="fas fa-plus-square"></i>
                <span>Create Device</span></a>
        </li>
        {{#if admin}}
                <hr class="sidebar-divider">

        <li class="nav-item active">
            <a class="nav-link" href="/notif/{{idd}}">
                <i class="fas fa-window-close"></i>
                <span>Inactive Device</span></a>
        </li>
                        <hr class="sidebar-divider">

        <li class="nav-item active">
            <a class="nav-link" href="/users/{{idd}}">
                <i class="fas fa-user"></i>
                <span>Users</span></a>
        </li>
        {{/if}}

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column" style="background-color: white;">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-none topbar mb-4 static-top">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggle" class="btn">
                    <i class="fas fa-bars" style="color:#cf4c45"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 medium">{{user}}</span>
                            <i class="fas fa-user rounded-circle"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>